@font-face {
  font-family:'PFBeauSansProRegular';
  src: url('fonts/PFBeauSansPro-Regular_cyrillic_directwrite.eot');
  src: url('fonts/PFBeauSansPro-Regular_cyrillic_directwrited41d.eot?#iefix') format('embedded-opentype');
  src: local('☺'),
    url('fonts/PFBeauSansPro-Regular_cyrillic_directwrite.woff') format('woff'),
    url('fonts/PFBeauSansPro-Regular_cyrillic_directwrite.ttf') format('truetype'),
    url('fonts/PFBeauSansPro-Regular_cyrillic_directwrite.svg#PFBeauSansPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+006F-2116;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

#portfolio {
   min-width: 1000px;
}

body {
   color: #676666;
   font: 14px Arial,Helvetica,sans-serif;
}

.hold1 {
   max-width: 1600px;
   min-width: 1000px;
   position: relative;
}

#portfolio #hdr {
   height: 122px;
}
#hdr {
   font-size: 12px;
   height: 142px;
   padding: 0 20px;
   position: relative;
}


.m111 {
   clear: right;
   float: left;
   font-size: 12px;
   width: 33%;
}

#logo {
   display: block;
   left: 40px;
   position: absolute;
   top: 30px;
}

a {
   color: #454545;
}

a img {
   border: 0 none;
}

.contentContainer {
  position: relative;
  height: 100%;
  min-height: 620px;
  min-width: 1024px;
}
.no-js .slide-nav,
.no-js .slides-container {
  display: none;
}
.no-js h1 {
  text-align: center;
  margin: 2em;
}
.slide-nav2 {
  position: absolute;
  top: 0%;
  height: 100%;
  right: 11%;
  width: 220px;
  z-index: 99;
  list-style: none;
  background-color: #00437b;
}
.slide-nav2 h2 {
  margin-bottom: 25px;
  margin-left: 20px;
  font: 16px Arial;
  font-weight: bold;
  color: #617d9f;
}
.slide-nav2 img {
  margin: 50px 0 110px 40px;
}
.slide-nav2 li {
  margin-left: 20px;
  margin-bottom: 15px;
}
.slide-nav2 li a {
  color: #ffffff;
  font: 14px Arial;
  text-decoration: none;
  border-bottom: 1px dotted #617d9f;
}
.slide-nav2 li.active a {
  color: #617d9f;
}
.slide-nav2 li a:hover {
  color: #617d9f !important;
}

.slide-nav {
  position: absolute;
  margin-top: 229px;
  right: 0px;
  width: 11%;
  z-index: 100;
  list-style: none;
}
.slide-nav li {
  display: block;
  margin-left: 20px;
  margin-bottom: 24px;
}
.slide-nav li a {
  font: 14px/20px Arial;
  color: #636363;
  display: inline-block;
  font-weight: bold;
  text-decoration: underline;
}
.slide-nav li a:hover {
  color: #a7a7a7 !important;
}
.slide-nav a.active {
  color: #a7a7a7;
}
.slides-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 89%;
  height: 100%;
  overflow: hidden;
}
.slide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide img.img_bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
}
.backbg {
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: top center;*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
}
#slide-2 .backbg {
  background-position: 100% 100%;
}
.go-prev,
.go-next {
  cursor: pointer;
  font-weight: bold;
}
.slide em {
  font-style: italic;
}
.slide {
  background-color: #ffffff;
}
.slide .headline {
  width: 46em;
  margin: 0 auto;
}
@media screen and (max-width: 635px) {
  .slide .headline {
    font-size: 60%;
    width: 34em;
  }
}

.slide-1 h3,
.slide-15 a,
.tip span {
  font-family: 'Playfair Display', serif;
  font-size: 2.8em;
}
.slide-15 {
  text-align: center;
}
.slide-15 a {
  color: #2D2B2F;
  display: inline-block;
  line-height: 1.2;
  font-size: 2em;
  padding-bottom: 10px;
  border-bottom: 1px solid transparent;
}
.slide-15 a:hover {
  border-bottom: 1px solid #2D2B2F;
}
.slide .tip {
  position: absolute;
  width: 100%;
  bottom: 29%;
}
.tip span {
  color: #ACA89D;
  text-align: center;
  font-size: 1.7em;
}
.tip .icon-down {
  font-size: 2em;
}
.basics-content {
  font-size: 1.5em;
  color: #242424;
  line-height: 1;
  position: absolute;
  left: 60px;
  top: 70px;
}
.marker.active .line,
.marker.active .circle {
  animation-name: animStroke;
}
.marker {
  position: relative;
  height: 400px;
  width: 600px;
}
.trigger {
  position: absolute;
  top: 37px;
  left: 22px;
  cursor: pointer;
  pointer-events: none;
  text-transform: uppercase;
  font-family: Oswald;
  color: #333;
  transition: color .2s linear;
  font-size: 22px;
}
.hovered {
  color: #fff;
}
.line {
  stroke: #DDDFD7;
  stroke-width: 2;
  fill: none;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation-duration: 6s;
  animation-delay: .3s;
  animation-fill-mode: forwards;
}
.circle {
  fill: #fff;
  stroke-width: 2;
  stroke: #DDDFD7;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation-duration: 3s, .3s;
  animation-fill-mode: forwards;
  cursor: pointer;
}
.circle1 {
  fill: #fff;
  transition: fill .18s linear;
  animation-duration: 3s;
}
.circle1:hover {
  fill: #303D62;
}
.s-circle {
  opacity: 0;
}
.text {
  fill: transparent;
  font-family: Oswald;
  font-size: 20px;
  text-transform: uppercase;
}
.marker.active .text {
  animation-name: animFill;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.marker.active .s-circle {
  animation-name: animStroke, animOpac;
  transition: fill .18s linear;
}
.active a:hover .text {
  text-decoration: underline;
}
#slide-1,
#slide-2,
#slide-3 {
  min-height: 620px;
}
#slide-1,
#slide-2,
#slide-16,
#slide-17,
#slide-18,
#slide-19,
#slide-20,
#slide-21 {
  z-index: 111;
}
#slide-2 {
  position: relative;
}
#slide-2 {
  widows: 88%;
}
#slide-2 .sl2_top_block {
  position: absolute;
  color: #ffffff;
  top: 37px;
  left: 41px;
  width: 570px;
}
#slide-2 .sl2_top_block h2 {
  font: 48px PFBeauSansProRegular;
  text-transform: uppercase;
  margin-bottom: 40px;
}
#slide-2 .sl2_top_block p {
  font: 15px/22px Arial;
}
#slide-2 .basics-content {
  top: 27%;
  left: 22%;
}
#slide-2 .sl2_p_middle {
  width: 670px;
  margin: 0 auto;
  margin-left: 29px;
}
#slide-2 .sl2_p_middle p {
  color: #748ca9;
  font: 15px/22px Arial;
  font-style: italic;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-top: 110px;
  margin-bottom: 120px;
}
#slide-2 .sl2_p_middle span.active {
  color: #748ca9;
}
#slide-2 .sl2_p_middle span {
  color: #ffffff;
  cursor: pointer;
}
#slide-2 .sl2_ul {
  float: left;
  width: 222px;
  margin-left: 40px;
  padding-left: 10px;
}
#slide-2 .sl2_ul li {

}
#slide-2 .sl_percent {
  width: 111px;
  height: 31px;
  border: 2px solid #ffffff;
  font: 11px/31px PFBeauSansProRegular;
  color: #ffffff;
  text-align: center;
  margin-bottom: 29px;
}
#slide-2 .sl_percent div {
  float: left;
}
#slide-2 .sl_percent_right {
  float: right;
  margin-right: 44px;
}
#slide-2  .sl_percent_middle {
  float: left;
  margin-left: 20px;
}
#slide-2 .sl2_ul li:before {
  content: '';
  background: url(../images/sl2_li_pointer.html) no-repeat 0px 0px;
  width: 7px;
  height: 7px;
  float: left;
  opacity: 0.5;
  margin-top: 12px;
  position: absolute;
  left: 37px;
}
#slide-2 img {
  margin-bottom: 10px;
}
#slide-2 .sl2_ul li:first-child:before {
  margin-top: 107px;
}
.sl_percent_middle .sl_percent  {
  margin-left: 22px;
}
.sl_percent_right .sl_percent  {
  margin-left: 22px;
}
#slide-2 .sl2_ul li a {
  display: inline-block;
  font: 14px PFBeauSansProRegular;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 18px;
  text-decoration: underline;
}
#slide-2 .sl2_ul .li_first .sl_percent .percent67,
.sl_percent_middle .percent67,
.sl_percent_right .percent67 {
  width: 67%;
}
#slide-2 .sl2_ul .li_first .sl_percent .percent33,
.sl_percent_middle .percent33,
.sl_percent_right .percent33 { 
  width: 33%;
  background-color: #00b8b0;
}
.sl_percent_right .percent33 {
  background-color: #ffcd05;
}
#slide-2 .sl2_ul .li_second .sl_percent .percent50 {
  width: 50%;
}
#slide-2 .sl2_ul .li_second .sl_percent .percent25_2 {
  width: 25%;
  background-color: #00b8b0;
}
#slide-2 .sl2_ul .li_second .sl_percent .percent25 {
  width: 25%;
  background-color: #52b9e9;
}
#slide-2 .sl2_ul .li_third .sl_percent .percent67 {
  width: 67%;
  background-color: #7c614c;
}
#slide-2 .sl2_ul .li_third .sl_percent .percent33 { 
  width: 33%;
  background-color: #fff0d7;
  color: #00437b;
}
#slide-1 .backbg {
  background-attachment: scroll;
  background-position: 36% 0px;
}
#slide-2 .backbg {
  background-attachment: scroll;
  background-position: 30% 0px;
}
#slide-1 .basics-content {
  width: 21%;
  min-width: 400px;
  margin-top: 275px;
  font: 16px/24px Arial;
  color: #ffffff;
  margin-left: 46%;
}
#slide-3 .basics-content {
  width: 534px;
  top: 73px;
  left: 57px;
  color: #ffffff;
}
.slide .basics-content h2 {
  font: 48px PFBeauSansProRegular;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #ffffff;
}
.slide .basics-content .color_mode {
  position: absolute;
  top: 0px;
  right: 0px;
}
.slide .basics-content .color_mode h2 {
  color: #00437b;
  font: 16px PFBeauSansProRegular;
  margin-bottom: 15px;
}
.slide .basics-content .color_mode .sl_percent {
  widows: 173px;
  height: 42px;
  border: 4px solid #ffffff;
  font: 12px/42px PFBeauSansProRegular;
  color: #ffffff;
}
.slide-6 .basics-content,
.slide-11 .basics-content,
.slide-15 .basics-content,
.slide-18 .basics-content,
.slide-21 .basics-content {
  top: 70px;
  right: 300px;
  width: 500px;
  left: auto;
  height: 500px;
  overflow: hidden;
}
.slide-6 .basics-content .color_mode .sl_percent .percent67,
.slide-15 .basics-content .color_mode .sl_percent .percent67,
.slide-18 .basics-content .color_mode .sl_percent .percent67,
.slide-21 .basics-content .color_mode .sl_percent .percent67 {
  width: 67%;
  background-color: #00437b;
  float: left;
  text-align: center;
}
.slide-15 .basics-content .color_mode h2 {
  color: #ffffff;
}
.slide-6 .basics-content .color_mode .sl_percent .percent33,
.slide-15 .basics-content .color_mode .sl_percent .percent33,
.slide-18 .basics-content .color_mode .sl_percent .percent33,
.slide-21 .basics-content .color_mode .sl_percent .percent33 {
  width: 33%;
  background-color: #00b8b0;
  float: left;
  text-align: center;
}
.slide-21 .basics-content .color_mode .sl_percent .percent33 {
  background-color: #ffcd05;
}
.slide-11 .basics-content .color_mode .sl_percent .percent50 {
  width: 50%;
  background-color: #00437b;
  float: left;
  text-align: center;
}
.slide-11 .basics-content .color_mode .sl_percent .percent25 {
  width: 25%;
  background-color: #52b9e9;
  float: left;
  text-align: center;
}
.slide-15 .basics-content .color_mode .sl_percent .percent67 {
  background-color: #7c614c;
}
.slide-15 .basics-content .color_mode .sl_percent .percent33 {
  background-color: #fff0d7;
  color: #00437b;
}
.slide-18 .basics-content .color_mode .sl_percent .percent33 {
  background-color: #52b9e9;
}

.slide-11 .basics-content .color_mode .sl_percent .percent25:last-child {
  background-color: #00b8b0;
}
.slide .basics-content h3 {
  font: 22px Arial;
  margin-bottom: 20px;
  color: #ffffff;
}
.slide .basics-content p {
  width: 530px;
  font: 15px/22px Arial;
  color: #ffffff;
}
.slide-4 .basics-content p,
.slide-5 .basics-content p  {
  width: 632px;
}
.slide-19 .basics-content h2,
.slide-19 .basics-content p {
  color: #00437b;
}
.active a:hover .s-circle {
  fill: #303D62;
}
.circle2,
.text1 {
  animation-delay: .8s;
}
.circle3,
.text2 {
  animation-delay: 1.2s;
}
.circle4,
.text3 {
  animation-delay: 1.4s;
}
.circle5,
.text4 {
  animation-delay: 1.6s;
}
@keyframes animStroke {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes animOpac {
  to {
    opacity: 1;
  }
}
@keyframes animFill {
  to {
    fill: #333;
  }
}
.sogas_logo1 {
  position: absolute;
  right: 40px;
  top: 51px;
}
#slide-3,#slide-4,#slide-5,#slide-6,#slide-7,#slide-8,#slide-9,#slide-10,#slide-11,#slide-12,#slide-14,#slide-15 {
  width: 89%;
}
#slide-1 .backbg, #slide-3 .backbg,#slide-4 .backbg,#slide-5 .backbg,#slide-6 .backbg,#slide-7 .backbg,#slide-8 .backbg,#slide-9 .backbg,#slide-10 .backbg,#slide-11 .backbg,#slide-12 .backbg,#slide-14 .backbg,#slide-15 .backbg {
  background-size: cover; 
}
.sogaz_small_logo {
  position: absolute;
  top: 19px;
  left: 205px;
}
.arrow_down {
  position: absolute;
  top: 195px;
  left: 341px;
}
.sogaz_big_logo {
  position: absolute;
  left: -464px;
  top: 10px;
}
#portfolio .team {
   border-top: 1px solid #E2E2E2;
   font-size: 12px;
   padding: 39px 0;
   position: absolute;
   bottom: 0px;
   width: 100%;
}
#project {
  padding-top: 0px;
  margin-top: -122px;
}
#slide-1 {
  z-index: 99;
}
@media only screen and (max-width: 1800px) {
  #slide-2 .basics-content {
    left: 24%;
  }
}
@media only screen and (max-width: 1450px) {
  #slide-2 .basics-content {
    left: 23%;
  }
}
@media only screen and (max-width: 1250px) {
  #slide-2 .basics-content {
  left: 22%;
  }
}
@media only screen and (max-width: 1100px) {
  #slide-2 .basics-content {
  left: 4%;
  }
  .slide .basics-content h2 {
    font: 43px PFBeauSansProRegular;
  }
}