#fb-root div { top: -100000px !important}

/* GRID */
.bwhite strong {color: white}
h2.v2.s {color:#00aebd !important;}
h2.v2.s span {
    border-bottom: 0px dashed #686868;
}

html {margin:0; padding:0; height:100%}

body {margin:0; padding:0; font:14px Arial, Helvetica, sans-serif; color:#676666; height:100%; background:#f7f7f7; position:relative}

.m0 {min-width:1000px; max-width:1600px; position:relative; }/*margin:0 auto*/
.m1 {min-width:1000px; background:#e2e2e2; overflow:hidden; font-size:12px} /*padding:0 20px; */
.m111 {width:33%; float:left; clear:right; font-size:12px}
.m112 {width:34%; float:left; clear:right}
.m112b {width:67%; float:left; }
.m113 {width:33%; float:left; clear:right}

/* FORMAT */
h1 {font-size:24px; margin:0; padding:0 0 25px 0; text-transform:uppercase}
h2 {font-size:18px; margin:0; padding:0 0 15px 0} .m1 h2 {font-size:14px; text-transform:uppercase; color:#676666} #body h2 {color:#00aebd} h2.v2 {text-transform:uppercase; color:#686868 !important} h2.v2 span {border-bottom:#686868 1px dashed}
h3 {margin:0; padding:0 0 15px 0} .small h3 {padding-bottom:5px}
h5 {font-size:10px; line-height:1; font-weight:normal; margin:0; padding:0 0 5px 0; color:#b0b0b0}
h5.date, .news li h5 { padding:4px 6px; background:#a9a9a9; color:#ffffff; display:inline-block; margin-bottom:7px}

p {margin:0; padding:0 0 1em 0}

.hold {width:100%; overflow:hidden}
.hold1 {min-width:1000px; max-width:1600px; position:relative; }/*min-width:1000px; margin:0 auto*/
.cc {padding:0 20px; }

.big {font-size:14px}
.small {font-size:12px}

.abstr {font-size:24px; font-weight:bold; text-transform:uppercase; padding-bottom:30px}

.obj {border:#FFFFFF 4px solid}

.b {height:1px; overflow:hidden; width:100%; overflow:hidden; display:block}


.list1 {margin:0; padding:0; list-style:none; width:100%; overflow:hidden}
.list1 li {margin:0; padding:0 20px 0 14px; display:block; list-style:none; font-size:14px; font-weight:bold; height:6em; overflow:hidden}
.list1 li a {display:block; height:3.6em; line-height:1.2em; overflow:hidden; text-decoration:none}

.articles li {height:auto; padding-bottom:1em} .articles li a {height:auto}

.list2 {margin:0 0 45px 0; padding:0; list-style:none;}
.list2 li {margin:0; padding:0 0 5px 0; display:block; font-size:12px}

.list2 a {text-decoration:none}

.scroll {width:100%; position:relative; padding:30px 0}
.scroll .prev {font-size:12px; padding-left:31px; line-height:17px; background:url(../i/push/darr.gif) no-repeat; color:#585858; display:block; position:absolute; bottom:0; left:0}
.scroll .next {font-size:12px; padding-left:31px; line-height:17px; background:url(../i/push/uarr.gif) no-repeat; color:#585858; display:block; position:absolute; top:0; left:0}

.prev2 {font-size:12px; padding-left:31px; line-height:17px; background:url(../i/push/darr.gif) no-repeat; color:#585858; display:block; }
.next2 {font-size:12px; padding-left:31px; line-height:17px; background:url(../i/push/uarr.gif) no-repeat; color:#585858; display:block; }


.m111 .scroll {padding:35px 0 0 0}
.scroll .all {margin:5px 0 0 90px; line-height:17px; display:inline-block}

.gallery {height:407px; position:relative; padding-right:50px}
.gallery ul {margin:0; padding:0; height:407px; list-style:none}
.gallery li {margin:0; padding:0; border-right:#FFFFFF 1px solid; height:407px; display:block; float:left; }/*width:409px;opacity:0.5; filter:Alpha(opacity=50)*/
.gallery .s {}

/*.gallery .arrl {height:100%; position:absolute; top:0; left:15px; width:35px; background:url(/i/push/arrl3.png) center center no-repeat; display:block; z-index:20; cursor:pointer}
.gallery .arrr {height:100%; position:absolute; top:0; left:409px; width:409px; background:url(/i/push/arrr3.png) 35px center no-repeat; display:block; z-index:20; cursor:pointer}*/
.gallery .arrl {height:100%; position:absolute; top:0; left:-50px; width:30px; background:url(../i/push/arrl7.gif) center center no-repeat; display:block; z-index:20; cursor:pointer}
.gallery .arrr {height:100%; position:absolute; top:0; right:0px; width:30px; background:url(../i/push/arrr7.gif) center center no-repeat; display:block; z-index:20; cursor:pointer}

.gallery2 {width:100%; height:336px; position:relative}
.gallery2 ul {margin:0; padding:0; list-style:none; height:336px; overflow:hidden}
.gallery2 li {height:336px; padding:0; margin:0; display:block; float:left; position:relative; overflow:hidden}

.gallery2 .arrl {height:100%; position:absolute; top:0; left:15px; width:35px; background:url(../i/push/arrl3.png) center center no-repeat; display:block; z-index:20; cursor:pointer}
.gallery2 .arrr {height:100%; position:absolute; top:0; right:15px; width:35px; background:url(../i/push/arrr3.png) center center no-repeat; display:block; z-index:20; cursor:pointer}

.gallery2 .hold {position:relative}

.gallery2 li img {display:block}
.gallery2 li a {display:block; height:336px; text-decoration:none}
	.gallery2 li a span {position:absolute; display:none; bottom:0; left:0; right:0; padding:20px; color:#00aebd; font-weight:bold; background:url(../i/bg/gallery2_i_text_bg.png) top right; z-index:1}
	.gallery2 li a:hover span {display:block}
/* a */
a {color:#454545} a:hover, a.s {color:#00aebd; text-decoration:none}
a img {border:0}

.i_l {float:left; margin:0 10px 10px 0; display:block}
.i_r {float:right; margin:0 0 10px 10px; display:block}

.more {padding-right:11px; background:url(../i/arr1.gif) right center no-repeat; font-size:12px}

/* form */
form {margin:0}

.form {}
.form input[type='text'], .form textarea {font:14px Arial, Helvetica, sans-serif; color:#686868; padding:10px; border:#bdbdbd solid; border-width:1px 1px 0 1px; width:70%}

.form .v2 {font-size:18px !important; padding:5px 10px !important; width:auto !important}

.form .cc {width:100%; padding:0 0 20px 0; position:relative}

.form label {right:100%; position:absolute; color:#79797a; font-size:11px; padding:3px 15px 0 0; white-space:nowrap; width:30%; text-align:right; font-style:italic}

.form .push {display:block; margin-top:10px}

/* table */
table {font-size:1em}
table, tr, td {margin:0; padding:0; border:0}
.top td {vertical-align:top}

.top, .top td {vertical-align:top}

.f1 {width:100%; margin-bottom:10px}
.f1 td {padding:6px 10px;}
.f1 .odd td {background:#f1f1f1}


/* CONTENT */
.col1 {float:left; overflow:hidden} .col2 {float:right; overflow:hidden}

#hdr {height:142px; position:relative; font-size:12px; padding:0 20px} #index #hdr {position:static; height:85px; padding:0}
#logo  {position:absolute; top:30px; left:40px; display:block} #index #logo {left:auto; right:81px; top:40px; z-index:100}
#hdr .bar1  {position:absolute; top:48px; left:33%; padding-left:20px; display:block} #index #hdr .bar1 {top:auto; bottom:50px; left:auto; right:320px; z-index:100}
#hdr .bar1 a {margin-right:30px} #hdr .bar1 a:hover {text-decoration:none}

#hdr #lang {position:absolute; top:59px; left: 273px; text-transform:uppercase} #hdr .bar1 #lang {float:left; margin-right:30px; position:static; line-height:20px}
#hdr #lang a {margin-right:2px; font-size: 12px;}
#lang .s {color:#00aebd; text-decoration:none}

#hdr .social {float:left; padding-right:25px}

#index #hdr a.years#logo {position:absolute; top:0; right:0; }

.abkr  {position:absolute; top:24px; right:172px; display:block} #index .abkr {top:auto; bottom:20px; z-index:100}
.vsb  {position:absolute; top:24px; right:40px; display:block} #index .vsb {top:auto; bottom:27px; z-index:100}

#body {padding:0 20px 30px 20px}

#index {min-height:890px; position:relative; background:#f7f7f7 url(../i/pct/fest_awards_pct.png) 17px bottom no-repeat; min-width:1000px; max-width:2000px; position:relative; }/*margin:0 auto;*/

#promo {min-height:620px; background:#f7f7f7;}
#promo .car {height:174px; overflow:hidden; cursor:pointer; position:relative}/*height:203px;*/
#promo .car .hdr {position:absolute; display:block; z-index:20}
#promo .arr {height:174px; width:50px; position:absolute; left:745px; top:0; background:url(../i/push/arrr2.gif) center center no-repeat; cursor:pointer; z-index:15}
#promo .car .hold {height:174px; list-style:none; width:100%; position:absolute}
#promo .car ul {margin:0; padding:0; list-style:none}
#promo .car li {margin:0; padding:0; height:174px; float:left; width:745px; display:block; position:relative}
#promo .car .text {background:url(../i/bg/promo_i_bg.png); position:absolute; padding:3px; font-weight:bold; font-size:14px; text-transform:uppercase; color:#FFFFFF; top:10px; left:10px; max-width:600px; line-height:17px; vertical-align:middle; z-index:15}
#promo .car .text span, #promo .car .text a {color:#FFFFFF; text-decoration:underline}
#promo .car li img {width:745px; height:174px; }

#promo .car li .text img {width:auto; vertical-align:middle}
/*#promo .hold:nth-child(3n) {background:#FFFFFF}
#promo .hold:nth-child(3n+1) {background:#999999}
#promo .hold:nth-child(3n+2) {background:#CCCCCC}*/


#ftr {background:#e2e2e2; padding:30px 0; font-size:11px; min-width:1000px} #ftr .m112 {}
#ftr .copy {float:left}
#ftr .mailto {float:right; }
#ftr .press {clear:both;  width:100%; padding-top:20px}
#ftr .press a {color:#555454; margin-left:20px}

/* SERVICES */

/* menu */
#menu {padding:57px 0 0 20px; float:left} #index #menu {position:absolute; left:40px; top:51px; padding:0; float:none; z-index:700}
#menu a {font-size:14px; font-weight:bold; margin-right:20px; text-transform:uppercase; color:#636363}
#menu .s, #menu a:hover {color:#00aebd;}


#menu2 {padding-bottom:30px}
#menu2 a {font-size:14px; font-weight:bold; margin-right:20px; color:#5f5f5f}
#menu2 .s {color:#00aebd; text-decoration:none}

.menu3 {display:inline-block; margin:0 30px 42px 0} .m111 .menu3, .m112b .menu3 {margin-right:0}
.menu3 a {font-size:14px; font-weight:bold; margin-right:15px; color:#5f5f5f}
.menu3 .s {color:#00aebd; text-decoration:none}

.menu4 {display:block; margin:0 60px 42px 0; float:left} .m111 .menu4, .m112b .menu4 {float:none}
.menu4 a {font-size:14px; font-weight:bold; margin-bottom:7px; color:#5f5f5f; display:block}
.menu4 .s {color:#00aebd; text-decoration:none}

.filter1 {display:block; width:100%; clear:both; margin-bottom:30px}
.filter1 a {font-size:12px; display:inline-block; text-decoration:none; padding-left:19px; font-size:12px; margin-right:15px; outline:0}
.filter1 a.s {background:url(../i/push/check.gif) no-repeat}



.portfolio {width:100%; min-width:960px; overflow:hidden; margin:0; padding:0; list-style:none; clear:both}
.portfolio li {width:210px; height:25em; font-size:11px; display:block; margin:0 30px 20px 0; padding:0; float:left}
.portfolio li .i {display:block; margin-bottom:10px; padding:7px}
.portfolio .i .t {width:196px; height:196px; margin:0; display:block}
.portfolio .i:hover .t {margin:0; border:#00aebd 7px solid}
.portfolio .i:hover {padding:0}

/* news */
#index_news {padding:20px 20px 0 20px; height:auto; position:relative; margin-bottom: 40px; width:1000px; overflow:hidden}
#index_news .scroll {padding-bottom:0}
#index_news .list1 {width:1020px; height:4.5em; overflow:hidden; position:relative; font-size:14px; margin-bottom:20px}
#index_news .list1 li {width:308px; padding:0 31px 0 0; height:4.5em; overflow:hidden; display:block; float:left; font-size:1em}
#index_news .list1 li a {font-weight:normal; height:4.5em; line-height:1.5em; overflow:hidden; font-size:1em}
#index_news .more {display:inline-block; background:none; margin-left:10em}/*display:block; right:17%; top:50%; position:absolute; margin-top:-0.5em*/
.news li a {text-decoration:none; color:#4d4d4d; display:block}



/*#a_list .list1 li {height:4.6em;}*/
#a_list {padding-top:1.3em}

.alist {padding-top:30px}
.alist h2 {cursor:pointer}
.alist .pad {margin-bottom:20px}
.alist .pad a {color:#00aebd}


#portfolio {min-width:1000px; } #portfolio #hdr {height:122px;}/*#portfolio #hdr {position:fixed; z-index:100; top:0; padding:0; height:122px; background:#f7f7f7; width:100%; min-width:1000px} #portfolio .hdr1 {z-index:200}*/
#portfolio_menu { position:absolute; width:100%; min-width:1000px; height:80px; background:#f7f7f7 url(../i/bg/portf_bg.gif) bottom left repeat-x; z-index:100; padding-top:20px}

#portfolio_menu .prev {position:absolute; left:15px; top:0; font-size:11px; color:#838383; background:url(../i/push/arrl5.gif) left center no-repeat; padding-left:25px; width:130px; display:block; z-index:100}
#portfolio_menu .next {position:absolute; right:15px; top:0; font-size:11px; color:#838383; background:url(../i/push/arrr5.gif) right center no-repeat; padding-right:25px; width:130px; display:block; z-index:100}
#portfolio_menu .back {font-size:11px; color:#838383; display:inline-block; margin-left:20px}

#portfolio_menu .m112b {height:80px; position:relative}
#project_menu {position:absolute; bottom:-15px; left:20px; }
#project_menu a {display:inline-block;  font-weight:bold;  padding-bottom:32px; text-decoration:none; margin-right:10px}
#project_menu .s {background:url(../i/bg/portf_s_bg.gif) bottom center no-repeat; }

#project_menu a span {border-bottom:#454545 1px dashed;}
#project_menu .s span {border-bottom:none}

.m311 {width:46%; float:left}
.m312 {width:50%; float:right}




#project .pct {display:block}
#portfolio h1 {text-transform:none}
#portfolio h3 {font-size:14px} #portfolio h3 .cc { text-align:right; display:block}

#portfolio .also {padding:39px 20px; height:20px; overflow:hidden} #portfolio .also h3 .cc {line-height:24px; vertical-align:bottom;}
#portfolio #project {padding-top:80px}

#portfolio .menu5 {}
.menu5 a {font-size:18px; margin-right:15px; }

.also .menu5 a {color:#00aebd; text-decoration:none; border-bottom:#00aebd 1px dashed}


#portfolio .team {border-top:#e2e2e2 1px solid; padding:39px 0; font-size:12px}
#portfolio .team i {color:#ababab; display:block}

#portfolio .team br {clear:both}

#portfolio .team .m112b {overflow:hidden}
#portfolio .team .m112b .cc {padding:0 30px 0 20px; float:left}

#portfolio .brief {min-height:400px; padding:39px 0}
#portfolio .note {background:url(../i/bg/note_bg.gif) no-repeat; color:#6e7576; display:block; position:absolute; left:30px}
#portfolio .note span {background:url(../i/bg/note_bg.gif) top right no-repeat; margin-left:17px; padding:0 17px 2px 0; line-height:19px; font-size:12px; display:block}

#portfolio .brief h2 {font-size:30px}
#portfolio .brief .cc {padding:0; width:64%; margin:0 auto}
#portfolio .brief .menu5 {margin-bottom:20px}

#portfolio .m211 {padding:0; width:64%; margin:0 auto}
#portfolio .m411 {padding:0; width:1000px; margin:0 auto}

#portfolio #proj_content {min-height:1000px}

#video_news .date {margin-top:-3em; position:relative; float:left}
#video_news .obj {border:#FFFFFF 6px solid; height:204px; background:url(../i/pct/video_pct.jpg) center no-repeat; margin-bottom:20px}
#video_news ul {margin:0; padding:0 20px; width:1020px; overflow:hidden}

#video_news li {float:left; width:308px; padding:19px 31px 15px 0; margin:0; display:block; list-style:none;}
	#video_news li h5.date {background:#FFFFFF; padding:5px 10px 0 10px; color:#959595; margin-top:-19px; height:14px; line-height:14px}
	#video_news li .obj {display:block; background:#FFFFFF; text-align:center; margin:0; height:auto}

	.m1 #video_news .more {padding-left:20px; background:none; display:inline-block}

#video_arch {padding:30px 20px}
#video_arch img {margin:0 1px 1px 0}

#clients {}
.list3 {margin:0; padding:0 50px 200px 0}
	.list3 li {margin:0; padding:0; width:181px; height:120px; display:inline-block; list-style:none; position:relative}
	.list3 li img {display:block; background:#CCCCCC}
	.list3 div {padding:21px; background:#f7f7f7}
	.list3 .hov div {border:#b9b9b9 1px solid; position:absolute; padding:20px; z-index:100}

	.list3 div span {display:none; padding-top:30px}
	.list3 .hov span {display:block; width:210px}