@font-face {
   font-family: 'PFDinTextCompProMedium';
    src: url('fonts/pfdintextcomppro-medium.eot');
    src: url('fonts/pfdintextcomppro-medium.eot') format('embedded-opentype');
    src: local('☺'),
         url('fonts/pfdintextcomppro-medium.woff') format('woff'),
         url('fonts/pfdintextcomppro-medium.ttf') format('truetype'),
         url('fonts/pfdintextcomppro-medium.svg#PFDinTextCompProMedium') format('svg');
}
@font-face {
    font-family: 'PFDinTextCompProLight';
    src: url('fonts/pfdintextcomppro-light.eot');
    src: url('fonts/pfdintextcomppro-light.eot') format('embedded-opentype');
    src: local('☺'),
         url('fonts/pfdintextcomppro-light.woff') format('woff'),
         url('fonts/pfdintextcomppro-light.ttf') format('truetype'),
         url('fonts/pfdintextcomppro-light.svg#PFDinTextCompProLight') format('svg');
}
@font-face {
   font-family: 'PFDinTextCompProRegular';
    src: url('fonts/pfdintextcomppro-regular.eot');
    src: url('fonts/pfdintextcomppro-regular.eot') format('embedded-opentype');
    src: local('☺'),
         url('fonts/pfdintextcomppro-regular.woff') format('woff'),
         url('fonts/pfdintextcomppro-regular.ttf') format('truetype'),
         url('fonts/pfdintextcomppro-regular.svg#PFDinTextCompProRegular') format('svg');
}

#portfolio {
   min-width: 1000px;
}

body {
   color: #676666;
   font: 14px Arial,Helvetica,sans-serif;
}

.hold1 {
   max-width: 1600px;
   min-width: 1000px;
   position: relative;
}

#portfolio #hdr {
   height: 122px;
}
#hdr {
   font-size: 12px;
   height: 142px;
   padding: 0 20px;
   position: relative;
}


.m111 {
   clear: right;
   float: left;
   font-size: 12px;
   width: 33%;
}

#logo {
   display: block;
   left: 40px;
   position: absolute;
   top: 30px;
}

a {
   color: #454545;
}

a img {
   border: 0 none;
}
#wrapper_gurman {
	width: 100%;
	min-width: 1024px;
	height: 794px;
	background: url(wrapper_gurman_bg.png) scroll 50% 0 no-repeat;
	position: relative;
	z-index: 1;
}
.content {
	min-width: 964px;
	max-width: 1220px;
	margin: 0 auto;
	padding-left: 60px;
	overflow: hidden;
	height: 100%;
}
#wrapper_gurman .content #gurman_text {
	overflow: hidden;
	width: 541px;
	margin-top: 191px;
	color: #ffffff;
}
#wrapper_gurman .content #gurman_text h1 {
	font: 90px PFDinTextCompProRegular;
}
#wrapper_gurman .content #gurman_text p {
	font: 24px/30px PFDinTextCompProLight;
	display: inline-block;
	width: 440px;
	text-align: left;
}
#wrapper_gurman .content #gurman_text span {
	display: inline-block;
	width: 10px;
	margin: 8px 8px 0 24px;
}	
#wrapper_slogan {
	width: 100%;
	min-width: 1024px;
	position: relative;
	z-index: 2;
	margin-top: -23px;
	padding-top: 82px;
}
#wrapper_slogan .content {
	background: url(wrapper_slogan_bg.png) scroll 646px 0 no-repeat;
	overflow: inherit;
	margin-top: -80px;
	padding-top: 80px;
}
.content .task {
	background: url(taks_logo_img.png) no-repeat 0px 0px;
	width: 257px;
	height: 67px;
	text-transform: uppercase;
	margin-left: 10px;
	line-height: 67px;
	color: #ffffff;
	font: 57px PFDinTextCompProLight;
	padding-left: 31px;
	margin-bottom: 36px;
}
#wrapper_slogan .content #task_text {
	overflow: hidden;
	width: 480px;
	color: #4b4b4b;
	font: 22px/30px PFDinTextCompProLight;
	margin-left: 41px;
	margin: 0 0 75px 41px;
}
#wrapper_slogan .content .task_h2 {
	font: 24px/30px PFDinTextCompProMedium;
	color: #000000;
	width: 665px;
	margin-bottom: 30px;
	margin-left: 41px;
}
#wrapper_slogan .content .task_ul {
	margin-left: 41px;
}
#wrapper_slogan .content .task_ul li {
	color: #4b4b4b;
	font: 22px/30px PFDinTextCompProLight;
	padding-left: 20px;
}
#wrapper_slogan .content .task_ul li:before {
	content: '';
	background: url(task_li_pointer.png) no-repeat 0px 10px;
	width: 6px;
	height: 5px;
	padding-left: 19px;
}
#wrapper_slogan .content #big_logo_company {
	background: url(idea_logo_company.png) no-repeat 66px 0px;
	height: 566px;
	padding-left: 41px;
	padding-top: 47px;
	color: #4b4b4b;
	font: 22px PFDinTextCompProLight;
	overflow: hidden;
}
#wrapper_slogan .content .new_logo_descrption {
	color: #4b4b4b;
	font: 22px PFDinTextCompProLight;
	width: 580px;
	padding-bottom: 65px;
}
#wrapper_sauseage_smoked {
	width: 100%;
	min-width: 1024px;
	height: 800px;
	overflow: hidden;
	position: relative;
}
.title_sausege {
	position: absolute;
	z-index: 99;
	width: 435px;
	height: 114px;
	margin: 0 auto;
	left: 43%;
	top: 60px;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides  .li_slide {
  display: block;
  height: auto;
  margin: 0 auto;
  border: 0;
}
#wrapper_sauseage_smoked {
	overflow: hidden;
}
.callbacks_nav {
	background: url(wrapper_sauseage_smoked_nav_left_right.png) no-repeat 0px 0px;
	width: 79px;
	height: 162px;
	position: absolute;
	top: 50%;
	z-index: 2;
	text-indent: 50000px;
	margin-top: -81px;
}
.next {
	right: 0px;
	background-position: -80px 0px;
}
.prev {
	left: 0px;
}
#wrapper_brand {
	width: 100%;
	min-width: 1024px;
	position: relative;
	overflow: hidden;
	margin-top: 57px;
	background: url(wrapper_brand_bg_green.png) repeat-x 0px 950px;
	margin-bottom: 27px;
}
#wrapper_brand .content {
	position: relative;
}
#wrapper_brand .content .task {
	width: 347px;
	height: 67px;
	background: url(taks_brand_img.png) no-repeat 0px 0px;
	margin-bottom: 80px;
}
#wrapper_brand .gurman_big_sausege {
	margin-left: 105px;
	margin-bottom: 60px;
}
#wrapper_brand #tasty_natural {
	color: #000000;
	width: 560px;
	margin-left: 41px;
	font: 22px/30px PFDinTextCompProLight;
	margin-bottom: 75px;
}
#wrapper_brand #firm_style.task {
	background: url(firm_style.png) no-repeat 0px 0px;
	width: 493px;
	height: 67px;
}
#wrapper_brand .firm_style_text {
	width: 259px;
	margin-left: 41px;
	color: #4b4b4b;
	font: 22px/30px PFDinTextCompProLight;
	float: left;
	margin-top: 15px;
}
#wrapper_brand #saeseage_brand {
	margin-top: -60px;
	margin-left: 50px;
	position: absolute;
	left: 357px;
}
#wrapper_brand .firm_style_text2 {
		float: inherit;
		margin-top: 466px;
		margin-bottom: 200px;
}
.clear {
	clear: both;
}
#wrapper_brand #icon_mouse_effect {
	float: left;
	margin-left: 41px;
	margin-top: -100px;
}
#wrapper_brand #old_icon {
	background: url(old_icon.png) scroll no-repeat 0px 89px;
	width: 617px;
	height: 390px;
}
#wrapper_brand #new_icon {
	background: url(new_icon.png) scroll 100% 89px no-repeat;
	height: 390px;
	width: 617px;
	float: right;
	background-color: #ffffff;
	border-left: 4px solid #8dc63f;
	position: relative;
}
#wrapper_brand #new_icon img {
	position: absolute;
	left: -27px;
	top: 171px;
}
#wrapper_brand #new_icon:before {
	content: '';
	width: 100px;
	height: 223px;
	background-color: red;
}
#wrapper_brand .with_help {
	font: 22px/30px PFDinTextCompProLight;
	width: 313px;
	float: left;
	margin-left: 48px;
	position: relative;
}
#wrapper_brand .with_help img {
	position: absolute;
	top: -110px;
	left: 44px;
}
#cooked_sausage {
	width: 100%;
	min-width: 1024px;
	height: 800px;
	overflow: hidden;
	position: relative;
	background: url(cooked_sausage_bg.png) scroll no-repeat 50% 0px;
	padding-top: 59px;
	z-index: 1;
}
.slider1_li1 {
	background: url(smoke_sausege_sl1.png) scroll no-repeat 50% 0px;
	height: 800px;
}
.slider1_li2 {
	background: url(cooked_sausage_sl2.html) scroll no-repeat 50% 0px;
	height: 800px;
}
#cooked_sausage .title_sausege {
	width: 319px;
	height: 122px;
}
#wrapper_cooked_sausage {
	position: relative;
	z-index: 2;
	margin-top: -120px;
}
#wrapper_cooked_sausage .content {
	position: relative;
}
#wrapper_cooked_sausage .cooked_sausage_img {
	float: left;
	margin-bottom: 95px;
}
#wrapper_cooked_sausage .cooked_sausage_text {
	width: 366px;
	color: #4b4b4b;
	font: 22px/30px PFDinTextCompProLight;
	position: absolute;
	left: 684px;
	top: 183px;
}
#wrapper_cooked_sausage #firm_documentation {
	width: 640px;
	height: 67px;
	background: url(firm_documentation_bg.png) no-repeat 0px 0px;
	color: #ffffff;
	font: 57px PFDinTextCompProLight;
	padding-left: 33px;
	margin-left: 7px;
	text-transform: uppercase;
	margin-bottom: 57px;
}
#wrapper_cooked_sausage #firm_documentation_text {
	width: 560px;
	margin-left: 41px;
	font: 22px/30px PFDinTextCompProLight;
	margin-bottom: 60px;
}
#firm_doc_sl {
	width: 100%;
	min-width: 1024px;
	height: 800px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.content .firm_style_brand {
	width: 520px;
	margin-left: 41px;
	font: 22px/30px PFDinTextCompProLight;
	margin-bottom: 60px;
	margin-top: 70px;
}
.firm_men {
	background: url(firm_men_bg.png) no-repeat 110px -25px;
	height: 594px;
	margin-top: 40px;
}
#meat_roulet {
	width: 100%;
	min-width: 1024px;
	height: 800px;
	overflow: hidden;
	position: relative;
	background: url(cooked_sausage_bg.png) scroll no-repeat 50% 0px;
	padding-top: 59px;
	z-index: 1;
	margin-top: -32px;
}
.title_meat_roulet {
	position: absolute;
	z-index: 99;
	width: 320px;
	height: 116px;
	margin: 0 auto;
	left: 41%;
	top: 60px;
}
.point_sale {
	margin-top: 60px;
}
.point_sale #points_sale_sausage {
	background: url(point_sale_sausage_bg.png) no-repeat 0px 0px;
	width: 382px;
	height: 67px;
	margin-left: 10px;
	padding-left: 31px;
	font: 57px PFDinTextCompProLight;
	color: #ffffff;
	margin-bottom: 41px;
	text-transform: uppercase;
}
.point_sale #point_sale_text {
	width: 330px;
	margin-left: 41px;
	float: left;
	font: 22px/30px PFDinTextCompProLight;
	margin-top: 13px;
}
.point_sale #point_sale_right_img {
	background: url(point_sale_right_img.png) no-repeat 0px 0px;
	width: 568px;
	height: 133px;
	float: left;
	margin-left: 90px;
	margin-bottom: 40px;
}
#point_sale_slider {
	width: 100%;
	min-width: 1024px;
	height: 800px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.cooked_block {
	overflow: hidden;
	position: relative;
	z-index: 3;
	margin-top: -60px;
}
.cooked_block #cooked_left_block {
	width: 542px;
	height: 835px;
	overflow: hidden;
	float: left;
	margin-left: -22px;
}
.cooked_block #cooked_right_block {
	width: 520px;
	float: right;
	margin-top: 115px;
	margin-right: 177px;
}
.cooked_block #cooked_right_block p {
	color: #4b4b4b;
	width: 470px;
	font: 22px/30px PFDinTextCompProLight;
	float: left;
}
.cooked_block #cooked_right_block img {
	float: left;
	margin-left: -53px;
}
#sausage_slider {
	width: 100%;
	min-width: 1024px;
	height: 800px;
	overflow: hidden;
	position: relative;
	background: url(cooked_sausage_bg.png) scroll no-repeat 50% 0px;
	padding-top: 59px;
	z-index: 4;
	margin-top: -29px;
}
#sausage_slider .suasage_small {
	position: absolute;
	z-index: 99;
	width: 297px;
	height: 74px;
	margin: 0 auto;
	left: 43%;
	top: 60px;
}
.brandbook {
	background: url(brandbook_right_img.png) no-repeat 715px 0px;
	margin-top: -105px;
	position: relative;
	z-index: 5;
	padding-top: 105px;
}
.brandbook #brandbook_left {
	float: left;
	overflow: hidden;
	width: 601px;
	margin-top: 50px;
}
.brandbook #brandbook_right {
	float: right;
	width: 484px;
	height: 723px;
}
.brandbook #brandbook_left #brandbook_title {
	width: 303px;
	height: 67px;
	font: 57px PFDinTextCompProLight;
	color: #ffffff;
	text-transform: uppercase;
	margin-left: 7px;
	padding-left: 33px;
	background: url(brandbook_title.png) no-repeat 0px 0px;
	margin-bottom: 35px;
}
.brandbook #brandbook_left p {
	color: #4b4b4b;
	font: 22px/30px PFDinTextCompProLight;
	margin-bottom: 40px;
}
.brandbook #brandbook_left img {
	margin-bottom: 20px;
}
.brandbook #brandbook_all {
	overflow: hidden;
}
.brandbook #brandbook_all .one_brandbook {
	float: left;
	margin-left: 35px;
	margin-bottom: 35px;
}
.brandbook #brandbook_all .one_brandbook_no_mr {
	margin-left: 8px;
}
#brandbook_already {
	width: 1000px;
	height: 991px;
	background: url(brandbook_already.png) no-repeat 0px 0px;
	margin: 0 auto;
}
#brandbook_already p {
	width: 342px;
	font: 22px/30px PFDinTextCompProLight;
	color: #4b4b4b;
	float: right;
	margin-right: 77px;
	margin-top: 180px;
}
@media only screen and (max-width: 1150px) {
	.brandbook .one_brandbook_no_mr,
	.brandbook .one_brandbook {
		margin-left: 100px !important;
	}
}